/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background-color: #fff;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

article:last-child {
    margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "ff-meta-headline-web-pro", sans-serif;       
}

h1 {    
    font-weight: 700;
    margin-top: 0;
    font-size: 2.618em;
    font-size: 8vw;
    line-height: 1.25;
}

h2 {
    font-size: 1.414em;
    line-height: 1.06082037; /* 1.5 /1.414 */
    padding-top: 1.595615275em; /* 1.125 / 1.414em */
    padding-bottom:  0.565205091em; /* 0.375 / 1.414em */
    margin: 0;
    font-weight: 700;
}

p {
    font-family: "ff-meta-serif-web-pro", serif;
    font-size: 1.125em;
    line-height: 1.5;
    text-indent: 0;
    margin-top: 0;
    margin-bottom: .75em; /* 1.7 / 2 (one-half of line height) */
    font-weight: 500;
}

p:last-child {
    margin-bottom: 0;
}

q {
    font-style: italic;
    quotes: '“' '”' '‘' '’';
}

q:before { content: '\201C'; content: open-quote; }
q:after { content: '\201D'; content: close-quote; }

.drop-cap {
    font-size: 5.75em;
    font-family: "ff-meta-headline-web-pro", sans-serif;
    font-weight: 700;
    float: left;
    line-height: 0.65;
    margin-left: -0.05em;
    padding-right: 0.06em;
    padding-top: 0.025em;
}

.intro, .parental-advisory, .flunk-out {
    background-color: #1d2228;
    color: #ededed;
}

.intro {
    padding: 8em 0;
}

.parental-advisory, .flunk-out {
    margin-top: 3em;
    padding-top: 3em;
    padding-bottom: 5em;
}

.FlexEmbed {
    display: block;
    overflow: hidden;
    position: relative;

}

.FlexEmbed:before {
    content: "";
    display: block;
    width: 100%;
}

.FlexEmbed--16by9:before {
    padding-bottom: 56.25%;
}

.CoverImage {
    background-position: center center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1.5em auto;
    text-align: center;
    color: white;
    min-height: 320px;
}

.CoverImage--Ely {
    background-image:url(../img/ely.jpg);
    margin-bottom: 0;
}

.CoverImage--Markus {
    background-image:url(../img/markus.jpg);
}

.CoverImage--Raims {
    background-image:url(../img/raims.jpg);
}

.CoverImage--Ely {
    margin-top: 0;
    height: 100vh;
}

.title {
    position: absolute;
    top: 30%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);   
}

.full {
    max-width: 100%;
    width: 2560px;
    height: auto;
    padding-bottom: 0.75em;
}


.pull-quote p {  
    text-align: left;
    color:#222;
    font-family: "ff-meta-headline-web-pro", serif;
    font-size: 1.618em;
    font-weight: 700;
    line-height: 1.3;
    padding: 0.463535229em 0; /* 0.75 / 1.618em */
    border-top: 8px solid #222;
    border-bottom: 1px solid #222;
    margin: 0.927070457em 0; /* 1.5 / 1.618em */
}

.pull-quote p.quote {
    text-indent: -0.45em;
}

.small-caps {
    font-family: "ff-meta-serif-sc-web-pro", serif;
    text-transform: lowercase;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* 1 and up */  
@media screen and (min-width:1px) {

    .wrapper, .pull-quote {
        padding: 0 1.25em;
        margin: 0 auto;
    }

}

@media screen and (min-width: 400px) {
    
    .wrapper, .pull-quote {
        width: 85%;
        max-width: 25rem;
        padding-left: 0;
        padding-right: 0;
   }

    p {
        line-height: 1.6;
        margin-bottom: 0.8em; /* 1.7 / 2 */
   }

    h2 {
        line-height: 1.131541725; /* 1.6 / 1.414 */
        padding-top: 1.698656294em; /* 1.2 / 1.414em */
        padding-bottom:  0.582885431em; /* 0.4 / 1.414em */
   }

    .pull-quote p {
        padding: 0.494437577em 0; /* 0.8 / 1.618em */
        margin: 0.988875154em 0; /* 1.6 / 1.618em */
    }
}

@media screen and (min-width: 600px) {
    
    body {
        font-size:110%;
    }

    .wrapper, .pull-quote {
        width: 75%;
        max-width: 27.5rem;
    }
  
}

@media screen and (min-width: 700px) {
    
    body {
        font-size:120%;
    }

   .wrapper, .pull-quote {
        max-width: 30rem;
   }

    h2 {
        font-size: 1.618em;
        line-height: 1.050679851; /* 1.7 / 1.618 */
        padding-top: 1.638009888em; /* 1.275 / 1.618em */
        padding-bottom:  0.562669962em; /* 0.425 / 1.618em */
    }

    p {
        line-height: 1.7;
        margin-bottom: 0.85em; /* 1.7 / 2 */
    }
    
    .drop-cap {
        font-size: 6em;
    }

    .pull-quote p {
        padding: 0.525339925em 0; /* 0.85 / 1.618em */
        margin: 1.050679851em 0; /* 1.7 / 1.618em */
    }

}

@media screen and (min-width: 900px) {
    
    body {
        font-size:125%;
    }

   .wrapper {
        max-width: 40rem;
   }

   .pull-quote {
        max-width: 50rem;   
   }

   .pull-quote p {
        padding-left: 1em;
        padding-right: 1em;
   }

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
